if theme.pubkey
  section.pubkey= theme.pubkey
section.copyright
  a(href='http://opensource.org/licenses/MIT', target="_blank") MIT License&nbsp;
  | &middot; Published with&nbsp;
  a(href='https://hexo.io/', target="_blank") Hexo
  | &nbsp;&middot;&nbsp;
  a(href='https://github.com/sjaakvandenberg/flexy', target="_blank") Flexy theme
  if config.feed && config.feed.url
    | &middot;
    a(href= config.feed.url) RSS Feed
